/*Universal Style*/
body{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: auto;
}

/*Header Styles*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.logo img{
  margin-left: 10px;
  height: 50px;
}

.nav{
  padding-right: 5px;
}

.nav a{
  margin: 10px;
  color: seashell;
  text-decoration: underline;
}

/*Main content styles*/

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.content{
  background-color: black;
  width: 100%;
  text-align: center;
}

/*Mission styles*/

.mission{
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
}


/*Teas of the Month styles*/
.special-teas{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1000px;
}

.pairing{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0px 10px;
}

.menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu img{
  height: 200px;
  width: 300px;
  }

  .menu h4{
    margin-top: 10px;
  }

  /*Locations styles*/
.locations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  width: 1200px;
  height: 500px;
  background-image: url(./images/img-locations-background.jpg);
}

.locations h2{
  display: block;
  margin-bottom: 15px;
}

.combined{
  display: flex;
  justify-content: space-around;
  width: 980px;
  margin-bottom: 55px;
}

.site{
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  opacity: 1;
}

.site p{
  padding-bottom: 20px;
}

/*Footer styles*/
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.copyright{
  text-align: left;
  margin-top: 20px;
}
