/*Universal Style*/
body{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*Header Styles*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.logo img{
  margin-left: 10px;
  height: 50px;
}

.nav{
  padding-right: 5px;
}

.nav a{
  margin: 10px;
  color: seashell;
  text-decoration: underline;
}

/*Main content styles*/

main{
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

/*Mission styles*/

.mission{
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
}

.content{
  background-color: black;
  z-index: 2;
  width: 100%;
  text-align: center;
}
